<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetOutThere">
        <activity
            android:name=".organizer.OrganizerEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerWaitlistActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerEventListActivity"
            android:exported="false" />
        <activity
            android:name=".admin.NotificationLogsActivity"
            android:exported="false" />
        <activity android:name=".entrant.EventHistory"
            android:exported="false" />
        <activity android:name=".entrant.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageOrganizersActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageImagesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageEventsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".event.EventListActivity"
            android:exported="false" />
        <activity
            android:name=".event.EventDetailsActivity"
            android:exported="false" />
        <activity android:name=".organizer.OrganizerCreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.EventQrCodeActivity"
            android:exported="false" />

        <activity
            android:name=".utils.DeepLinkRouterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="getoutthere"
                    android:host="event" />
            </intent-filter>
        </activity>
        <activity
            android:name=".organizer.OrganizerEditEventActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.EntrantListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".organizer.EventMapActivity" />
    </application>

</manifest>